<a class="al-trigger al-trigger-gray" role="button" aria-haspopup="true" tabindex="-1" aria-owns="content-1">
	<i class="icon-settings"></i>
	<i class="icon-mini-arrow-down"></i>
	<span class="screenreader-only">Settings</span>
</a>

<ul id="content-1" class="al-options" role="menu" tabindex="0" aria-hidden="true" aria-expanded="false" aria-activedescendant="content-2" >
  <li role="presentation">
    <a href="#" class="icon-edit" id="content-2" tabindex="-1" role="menuitem" title="Edit">Edit</a>
  </li>
  <li role="presentation">
    <a href="#" class="icon-trash" id="content-3" tabindex="-1" role="menuitem" title="Delete this module">Delete</a>
  </li>
</ul>