<a href="#" class="al-trigger">
  <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
</a>
<ul class="al-options">
  <li><a href="#">Edit</a></li>
  <li><a href="#">Delete</a></li>
</ul>