.no-wrap {
  white-space: nowrap;
}

.context_modules2 {
  .module-header{
    margin-bottom: 10px;
    .pill{
      margin-top: 5px;
    }
    .module-header-item{
      line-height: 30px;
      margin: 0 2px 0 2px;
      &.h5{
        font-weight: 500;
      }
    }
    .module-published-button{
      padding: 0 10px 0 10px;
    }
  }

  .published {
    color: #34832b !important; /* green */
  }

  .publish-button {
    &.unpublished {
      color: #999999; /* light grey */
    }

    &.published.hover {
      color: #db4f4a; /* red */
    }

    &.transitioning {
      color: #999999;
    }

    &.disabled {
     color: #999999; 
    }

    &.disabled span,
    .icon-unpublished {
      color: #999999;
    }
  }

  .toggle-link {
    color: black;
    &:link, &:visited, &:hover, &:active{
      text-decoration: none;
    }
  }

  i.icon-arrow-down:before, i.icon-arrow-right:before {
    font-size: 11px;
    margin-top: 3px;
  }
  
  .module-item-title {
    color: black;
    font-weight: bold;
  }

  .invisible {
    visibility: hidden;
  }

  tr.hidden {
    display: none;
  }

  .small-text {
    font-size: .9em;
  }

  tr.visible {
    display: table-row;
  }

  a,
  .ig-publish-btn,
  .module-published-button {
    cursor: pointer;
  }

  #breadcrumbs {
    border-bottom-color: #b6babf;
  }
  .modules-toolbar {
    padding: 16px;
    border-bottom: 1px solid #b6babf;
    input[type="search"] {
      width: 300px;
      margin-bottom: 0;
    }
  }
  #content {
    padding: 0;
  }
  .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .module-published-button {
    color: #34832b;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 3px;
    line-height: 22px;
    vertical-align: middle;
  }

  a.al-trigger {
    color: #b4b8bb;

    &:hover {
      color: #0088cc;
    }
  }

  .module {
    h3 {
      font-size: 1.18em;
      font-weight: bold;
      line-height: 1em;
      margin: 0;
    }
  }

  table {
    table-layout: fixed;
    margin-bottom: 0;

    thead {
      background-color: inherit;
    }

    .drag-handler {
      cursor: move;
    }

    tbody {
      background-color: white;
      border: 1px solid #c2c9d1;
      tr:hover {
        background-color: #F6F8F9;
      }
    }

    td:first-of-type, th:first-of-type {
      text-align: left;
    }

    td:last-of-type, th:last-of-type {
      text-align: right;
    }

    td,th {
      text-align: inherit;

      &.align-right {
        text-align: right;
      }
      &.long {
        width: auto;
      }
      &.inherit-width {
        width: auto;
      }

      &.compact {
        width: 1%;
      }

      &.no-right-padding {
        padding-right: 0;
      }
    }
  }

  .prereqs {
    font-size: 14px;
    padding: 4px 12px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
  }
  .editable-show {
    display: none;
  }
  .editable .editable-show {
    display: inherit;
  }
  .item-group-condensed .ig-title {
    left: 20px;
  }

  .indent-1 {
    margin-left: 18px;
  }
  .indent-2 {
    margin-left: 36px;
  }
  .indent-3 {
    margin-left: 54px;
  }
  .indent-4 {
    margin-left: 72px;
  }

  /*
  .editable .item-group-condensed {
    .ig-title {
      right: 600px;
      left: 30px;
      &.indent-1 {
        left: 42px;
      }
      &.indent-2 {
        left: 54px;
      }
      &.indent-3 {
        left: 66px;
      }
      &.indent-4 {
        left: 78px;
      }
    }
    .ig-details {
      right: 140px;
      width: 400px;
    }
    .ig-publish-btn {
      position: absolute;
      right: 76px;
    }
    .add-item-button {
      padding-left: 7px;
      padding-right: 7px;
    }
  }
  */
}

tbody.sortable tr {
  display: table-row;
  width: 100%;
}

tr.ui-sortable-helper {
  background-color: white;
}

tbody.sortable.empty2 {
  min-height: 30px;
  display: block;
  width: 100%;
}

// To do: move this to the component-specific stylesheet

.ic-popover {
  position: absolute;
  z-index: 1000
}
 
.ic-popover-open {
  display: block;
}

.ic-popover-closed {
  display: none;
}







// To do: move this modal stylesheet


.context_modules2 .test2 {
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  height: 19px;
  border-color: #c5c5c5;
}

.test-modal .form-horizontal .control-label {
  width: 110px;
}

.test-modal .form-horizontal .controls {
  margin-left: 130px;
}

.test-modal-overlay-translucent {
  background-color: #262b33;
  opacity: .7;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.test-modal-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.test-modal-close {
  float: right;
  display: inline-block;
}

.test-modal {
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 550px;
  width: 600px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  z-index: 1001;
}

.test-modal-content {
  padding: 12px;
  overflow-y: scroll;
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.test-modal-titlebar {
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.8em;
  vertical-align: middle;
  font-weight: bold;
  padding: 8px 8px 8px 12px;
  width: 100%;
  position: absolute;
  background-color: #dae1e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e6eb), to(#d4dce2));
  background-image: -webkit-linear-gradient(top, #e0e6eb, #d4dce2);
  background-image: -moz-linear-gradient(top, #e0e6eb, #d4dce2);
  background-image: -ms-linear-gradient(top, #e0e6eb, #d4dce2);
  background-image: -o-linear-gradient(top, #e0e6eb, #d4dce2);
  background-image: linear-gradient(top, #e0e6eb, #d4dce2);
}

.test-modal-footer {
  border-top: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 0 white;
  overflow: hidden;
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 10px;
  padding-right: 20px;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: right;
}