{{#ic-popover open=open}}
  <div class="test-modal-overlay">
    <div class="test-modal">
      <div class="test-modal-titlebar">
        <div class="test-modal-close">
          {{#ic-popover-close}}
            <a class="btn btn-mini test2">
              <i class="icon-x"></i>
            </a>
          {{/ic-popover-close}}
        </div>
        Add New Assignment
      </div>

      <form class="form">
        <div class="test-modal-content">
          Hello, world.
        </div>
        <div class="test-modal-footer">
          {{#ic-popover-close}}
            <a class="btn">Cancel</a>
          {{/ic-popover-close}}
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
{{/ic-popover}}