<div class="modules-toolbar">
  <div class="pull-right">
    <a href="#" class="btn preview-modules-button">
      Preview
    </a>
    <a href="#" class="btn btn-primary add-module-button" {{action 'showAddModuleModal'}}>
      <i class="icon-plus"></i> Module
    </a>
    <a href="#" class="btn modules-settings-button">
      <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
    </a>
  </div>
  {{view Ember.TextField valueBinding="searchQuery" type="search" placeholder="Search for module or item inside module"}}
</div>

<div class="item-group-container sortable-modules">
  {{#each module in model}}
    {{canvas-module module=module}}
  {{/each}}
</div>